.container {
  width:100%;
  max-width:600px;
  margin:0 auto;
}
.chess-board{
  border: 1px solid black;
  padding: 0;
}
.grid_row{
  display: grid;
  grid-template-columns: repeat(8,1fr);
}
.grid_column{
  aspect-ratio: 1/1;
  background-color: white;
}
.grid_row:nth-child(odd) .grid_column:nth-child(odd){
  background-color:black;
}
.grid_row:nth-child(even) .grid_column:nth-child(even){
  background-color:black;
}
.grid_row .grid_column:hover{
  background-color: red;
}
.grid_row:nth-child(odd) .grid_column:nth-child(odd):hover{
  background-color:red;
}
.grid_row:nth-child(even) .grid_column:nth-child(even):hover{
  background-color:red;
}